body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

.container {
    width: 35%;
    height: 50%;
    background-color: rgb(6, 5, 32);
    border: 1px solid;
    padding: 80px 30px;
    border-radius: 20px;
}

h1 {
    color: aliceblue;
}

body h1:nth-of-type(2) {
    color: rgb(40, 241, 127);
    margin-top: -20px;
}

p {
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 100;
    font-style: normal;
}

button {
    background-color: rgb(30, 185, 98);
    padding: 10px 30px;
    border: none;
    color: rgba(255, 251, 251, 0.87);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
}

.field p {
    background-color: antiquewhite;
    width: 200px;
    height: 25px;
    display: inline-block;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 5px 10px;
    color: rgb(30, 185, 98);
    border-radius: 5px;
}
